@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --doc-height: 100%;
}

html,
body {
  height: 100vh; /* fallback for Js load */
  height: var(--doc-height);
}

.vh100 {
  height: var(--doc-height);
}

.min_h_vh50 {
    min-height: calc(var(--doc-height)/2);
  }

.contentHeight {
  height: calc(var(--doc-height) - 100px);

}